.company-slider {
  @include flex(row, center, center);
  flex-wrap: wrap;
  margin: 4rem 0;

  img {
    margin: 1rem;
    max-width: 100px;

    @include responsive("mobile") {
      max-width: 70px;
    }
  }
}
