.map {
  text-align: center;
  padding: 4rem 0;

  .map-wrapper {
    position: relative;
    display: inline-block;

    .map-image {
      max-width: 100%;
      display: block;
    }

    .location-icon {
      position: absolute;
      width: 30px;
      transition: all 6s linear;

      @include responsive("mobile") {
        width: 20px;
      }
    }
  }
}
