@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == "tablet" {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $breakpoint == "mobile" {
    @media (max-width: 768px) {
      @content;
    }
  }
}

@mixin button-style {
  background-color: $primary-color;
  color: #fff;
  padding: 15px 70px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: $transition;
  box-shadow: 5px 10px 5px 0px rgba(245, 56, 56, 0.75);
  -webkit-box-shadow: 5px 10px 5px 0px rgba(245, 56, 56, 0.75);
  -moz-box-shadow: 5px 10px 5px 0px rgba(245, 56, 56, 0.75);

  &:hover {
    opacity: 0.9;
    box-shadow: none;
  }
}
