.pricing {
  text-align: center;
  padding: 4rem 0;

  h2 {
    margin-bottom: 1rem;
  }

  .plans {
    @include flex(row, space-between, flex-start);
    margin-top: 2rem;

    .plan {
      background-color: #fff;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      transition: $transition;
      width: 30%;

      &:hover {
        transform: translateY(-10px);
        border: 2px solid $primary-color;
        cursor: pointer;
      }

      ul {
        margin: 1rem 0;

        li {
          margin-bottom: 0.5rem;
          display: flex;
          gap: 10px;
          align-items: center;
        }
      }

      h4 {
        margin: 1rem 0;
      }
    }
  }

  @include responsive("mobile") {
    .plans {
      @include flex(column, center, center);

      .plan {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
}
