* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #0b132a;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
