.stats {
  @include flex(row, space-between, center);
  padding: 4rem 0;

  .stat-item {
    background-color: #fff;
    @include flex(column, center, center);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 30%;
    transition: $transition;

    &:hover {
      transform: translateY(-10px);
    }

    img {
      width: 50px;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 2rem;
      color: $primary-color;
    }

    p {
      color: $text-color;
      margin-top: 0.5rem;
    }
  }

  @include responsive("mobile") {
    @include flex(column, center, center);

    .stat-item {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}
