.subscribe {
  background-color: $primary-color;
  color: #fff;
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 15px;
  margin: 4rem 0;

  h2 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1.5rem;
  }
}
